.cover-img {
    width: 95%;
    height: 465px;
    display: flex;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 2.8rem;
}

h3{
    text-align: center;
    font-size: 1.8rem;
}

.btn{
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    background-color: black;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 0.5rem;
    color: #f7f7f7;
    font-size: 1.2rem;
    margin-bottom: 10px;
}